{%extends 'base.html'%}
{%block title%} Services - Categories {%endblock%}

{%block content%}

{%if types%}

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <th> ID</th>
        <th> Description</th>
    </thead>
    <tbody>
    {%for type in types%}
     <tr>
        <td>{{type.id}}</td>
        <td>{{type.title}}</td>
        <td><a href='/ticktr/category_tickets/{{type.id}}'>Show all Tickets</a></td>
     </tr>
    {%endfor%}
    </tbody>
</table>
{%else%}
 <p>No defined categories in database</p>
{%endif%}
{%endblock%}
