{%extends 'base.html'%}
{%block title%} Our Company Engineers {%endblock%}

{%block content%}

{%if engineers%}

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Alternate Phone Number</th>
        <th>Region</th>
    </thead>
    <tbody>
    {%for engineer in engineers%}
     <tr>
        <td>{{engineer.full_name}}</td>
        <td>{{engineer.phoneNo}}</td>
        <td>{{engineer.alternatePhoneNo}}</td>
        <td>{{engineer.region}}</td>
        <td><a href='/ticktr/engineer_tickets/{{engineer.id}}'>Show all Tickets</a></td>
     </tr>
    {%endfor%}
    </tbody>
</table>
{%else%}
  <p> No Engineers in database</p>
{%endif%}
{%endblock%}
