<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            <title> Ticketing Support Portal | {%block title%}{%endblock%}</title>
            <link rel="stylesheet" href="{{STATIC_URL}}/assets/css/bootstrap.css"/>
            <link href="{{STATIC_URL}}assets/css/bootstrap-responsive.css" rel="stylesheet">
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                
                
                
            </style>
            
            {%block external %}{%endblock%}
        </head>
        
        <body>
            
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">Ticketing Support Portal</a>
                  <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li><a href='/'>Home</a></li>
                        <li><a href='/engineers'>Engineers</a></li>
                        <li><a href='/sites'>Sites</a></li>
                        <li><a href = '/regions'>Regions</a></li>
                        <li><a href='/categories'>Categories</a> </li>
                
                        {% if user.is_authenticated %}
                        <li><a href="/save_ticket/">Submit</a></li>
                        <li><a href="/logout">Logout</a></li>
        
                        {%else%}
        
                        <li><a href="/login/">Login</a> </li>
                        {% endif%}
                      
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
                </div>
            </div>
            
            
            
            <div class="container-fluid">
                
                <div class = "row-fluid">
                    <div class="span10">
                        
                        {%block content %} {%endblock %}
                        
                    </div>
                
                    <div class="span2">
                    {%block sidebar %} {%endblock%}
                    </div>
                
                </div>
                
                <hr>
                
                 <footer>
                    <p>Copyright &copy Julius Kimuli 2012. All Rights Reserved</p>
                 </footer>
            </div>
            
            <script src="{{STATIC_URL}}/assets/js/jquery.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-transition.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-alert.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-modal.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-dropdown.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-scrollspy.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-tab.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-tooltip.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-popover.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-button.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-collapse.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-carousel.js"></script>
            <script src="{{STATIC_URL}}/assets/js/bootstrap-typeahead.js"></script>
        </body>
    </html>