<!doctype html>
    <html>
        <head>
            <title> Ticketing Support Portal | {%block title%}{%endblock%}</title>
            <link rel="stylesheet" href="{{STATIC_URL}}style.css" type="text/css" />
            <script type="text/javascript" src="{{STATIC_URL}}jquery.js"></script>
            {%block external %}{%endblock%}
        </head>
        
        <body>
            <div id="nav">
                <a href='/'>Home</a> |
                <a href='/engineers'>Engineers</a> |
                <a href='/sites'>Sites</a> |
                <a href = '/regions'>Regions</a> |
                <a href='/categories'>Categories</a> |
                
                {% if user.is_authenticated %}
                <a href="/save_ticket/">Submit</a> |
                 {{user.username}}(<a href="/logout">Logout</a>)
        
                {%else%}
        
                <a href="/login/">Login</a> 
                {% endif%}
            </div>
            
            <p> {%block content %} {%endblock %}</p>
        </body>
    </html>