{%extends 'base.html'%}
{%block title%} Our Company Engineers {%endblock%}

{%block content%}

{%if engineers%}

<table>
    {%for engineer in engineers%}
     <tr>
        <td>{{engineer.full_name}}</td>
        <td>{{engineer.phoneNo}}</td>
        <td>{{engineer.alternatePhoneNo}}</td>
        <td>{{engineer.region}}</td>
        <td><a href='/engineer_tickets/{{engineer.id}}'>Show all Tickets</a></td>
     </tr>
    {%endfor%}
</table>
{%else%}
  <p> No Engineers in database</p>
{%endif%}
{%endblock%}